<ul class="sidebar-menus">
  <li>
    <a class="sidebar-menus__default active" href="{{ routes.account_url }}">My Account</a>
  </li>
  <li>
    <a class="sidebar-menus__render" href="{{ routes.account_url }}?page=return">Return</a>
  </li>
  <li>
    <a href="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</a>
  </li>
</ul>