.header__anchors {
    display: inline-flex;
    grid-area: left-icon;
    justify-self: start;
    margin-left: -1.5rem;
}

.header>.header__search {
    grid-area: left-icon;
    justify-self: center;
}

.link, .customer a {
    cursor: pointer;
    display: inline-block;
    border: none;
    box-shadow: none;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    color: rgb(var(--color-link));
    background-color: transparent;
    font-size: 1.75rem;
    font-weight: 600;
    font-family: inherit;
}

.header__menu-item {
    padding: 1.2rem;
    text-decoration: none;
    color: rgba(var(--color-foreground), 1.55);
    font-size: 18px;
    font-weight: normal;
}

.header__menu-item::after {
    content: "|";
    position: static;
    display: flex;
    width: 2rem;
    justify-content: end;
}

.list-menu li:last-child .header__menu-item::after {
    display: none;
}

.header__icon {
    color: #a8a8a8;
}

.header__search.header__search--desktop {
    display: inline-flex;
}

.header__menu-item.list-menu__item {
  font-size: 12px;
  color: #000;
  font-weight: 400;
  padding: 0;
}
.header__inline-menu .list-menu--inline {
  gap: 2rem;
} 
.header:not(.header--middle-left,.header--middle-center) .header__inline-menu {
  margin: 0;
}
.header.header--top-center.header--mobile-center {
  padding: 10px 15px;
  width: 100%;
  max-width: 1690px;
  margin: 0 auto;
}
.header__icon .icon {
  width: 100%;
  max-width: 17px;
  height: 17px;
}
.header__icon--cart .icon {
  max-width: 35px;
  height: 35px;
}
.banner.banner__custom--page-width {
  padding-top: 0;
}