.card__information {
    text-align: center;
}

.card__heading {
    font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.price {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 800;
}

.facets-vertical.page-width{
    width: 100%;
    max-width: 1690px;
    padding: 0;
}