/* ID SCAN VERIFICATION */
p,
a,
span,
h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5{
  font-family: 'Figtree', sans-serif !important;
}

p,
a,
span {
  font-size: 12px;
}

h1 {
  font-size: 13px !important;
  text-transform: uppercase;
  color: #000;
}

h1 strong {
  font-weight: normal;
}

h2 {
  font-size: 11px !important;
}

.id-scan {
    display: flex;
    align-items: center;
    gap: 100px;
}
.id-scan img {
    width: 600px;
}
.id-scan__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.id-scan__form input {
    height: 25px;
    font-size: 13px;
    border: 1px solid #2f2b2b;
    box-shadow: none;
    padding: 15px;
    color: #2f2b2b;
}
.id-scan__form button {
    background-color: #fff;
    color: #2f2b2b;
    border: 1px solid #2f2b2b;
    font-size: 13px;
    text-transform: uppercase;
    height: 40px;
    min-height: 0;
    cursor: pointer;
    width: 20%;
    align-self: flex-end;
    transition: none;
}
.id-scan__form button:hover {
  background-color: #000;
  color: #fff;
}
.id-scan__form--error {
    display: none;
}
.custom__banner--theme-1 .button--primary::after {
  background-color: #f7f5f3 !important;
}

@media screen and (max-width: 1024px) {
    .id-scan img {
        width: 400px;
    }
}

@media screen and (max-width: 1023px) {
    .id-scan {
        flex-direction: column;
        gap: 0;
    }
}